{% load static %}

<section class="page-section bg-light" id="blog-post">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Post List</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div v-for="post in postList" :key="post.id" class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 1-->
        <div class="blog-post-item cts-postcard">
          <a class="blog-post-link" :href="`/post/${post.id}`">
            <div class="blog-post-hover">
              <div class="blog-post-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid cts-image" :src="post.image" alt="..."/>
          </a>
          <div class="blog-post-caption">
            <div>
              <i class="fas fa-copyright"></i>
              <span class="blog-post-caption-subheading text-primary text-uppercase my-link" @click="keywordSearch(post.category,'')">
                [[post.category]]
              </span>

              <i class="fa-solid fa-eye ms-3"></i>
              <span>[[post?.watch]]
              </span>
            </div>
            <div class="blog-post-caption-heading cts-title">[[post.title]]</div>
          </div>
        </div>
      </div>

    </div>
    <div aria-label="...">
      <ul class="pagination justify-content-center">
        <li :class="[1==currentPage ? 'page-item disabled' : 'page-item']">
          <span class="page-link" @click="pagenation(currentPage-1)">
            <i class="fa-solid fa-arrow-left"></i>
          </span>
        </li>

        <li v-for="current in pages" :class="[current==currentPage ? 'page-item active' : 'page-item']">
          <span class="page-link" @click="pagenation(current)">[[current]]
            <span class="sr-only"></li>

            <li :class="[currentPage==totalPage ? 'page-item disabled' : 'page-item']">
              <span class="page-link" @click="pagenation(currentPage+1)">
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </section>
