{% extends 'base.html' %}

{% load static %}

{% block title %}
  post detail
{% endblock %}

{% block contentElement %}
  <br/>
  <br/>
  <!-- Page content-->
  <div class="container mt-5 detail-sec" id="detail-sec" v-if="post">
    <div class="row">
      <!-- Post title-->
      <h1 class="fw-bolder mb-1">[[post.title]]</h1>
      <hr/>
      <p class="text-muted">
        <i class="fa-sharp fa-solid fa-calendar"></i>
        <span class='mr-1 text-uppercase'>[[post.created_at]] &emsp;</span>
        <i class="fas fa-copyright ms-2"></i>
        <span class="text-primary my-link me-1 text-uppercase" @click="keywordSearch(post.category,'')">
          [[post.category]]
        </span>
        &emsp;
        <i class="fas fa-tag ms-2"></i>
        <span v-if='post.tags' v-for="(tag, i) in post.tags" :key="tag.id" class="me-1 text-info my-link" @click="keywordSearch('', tag)">
          [[tag]]
        </span>
        <span style="display:none;">[[post.tags]]
        </span>
        <i class="fa-solid fa-eye ms-2"></i>
        <span>[[post.watch]]
        </span>
      </p>
      <hr/>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <!-- Post content-->
        <article>
          <figure class="mb-4"><img class="img-fluid rounded cst-img-300" :src="post.image" alt="..."/></figure>
          <!-- Post content-->
          <div class="mb-5">
            <p class="fs-5 mb-4 cst-content">
              [[post.content]]
            </p>
          </div>
        </article>

        <!-- Comments section-->
        <section class="mb-5 comment_section">
          {% include "post/post_comment.html" %}
        </section>

        <!-- Comments section-->

      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <!-- Categories widget-->
        <div class="card mb-4">
          <div class="card-header">Categories</div>
          <div class="card-body">
            <div class="list-unstyled gap-4 d-flex flex-wrap ">
              <span v-for="(cate, i) in cateList" :key="cate.id" class="text-primary my-link text-uppercase" @click="keywordSearch(cate,'')">
                [[cate]]
              </span>
            </div>
          </div>
        </div>

        <!-- Tag Cloud-->
        <div class="card mb-4">
          <div class="card-header">Tag Cloud</div>
          <div class="card-body">
            <div class="list-unstyled gap-4 d-flex flex-wrap ">
              <span v-for="(tag, i) in tagList" :key="tag.id" class="text-info my-link text-uppercase" @click="keywordSearch('',tag)">
                [[tag]]
              </span>
            </div>
          </div>
        </div>

        <!-- next prev post-->
        {% include 'post/prev_next_post.html' %}

      </div>
    </div>
  </div>
{% endblock %}

{% block extra-script %}
  <script src="{% static 'vue/postDetail.js' %}"></script>
{% endblock %}
