{% extends 'base.html' %}

{% load static %}

{% block title %}
  post detail
{% endblock %}

{% block contentElement %}
  <br/>
  <br/>
  <!-- Page content-->
  <div class="container mt-5 " id="detail-sec">
    <div class="row">
      <!-- Post title-->
      <h1 class="fw-bolder mb-1">[[post.post?.title]]</h1>
      <hr/>
      <p class="text-muted">
        <i class="fa-sharp fa-solid fa-calendar"></i>
        <span>[[post.post?.created_at]] &emsp;</span>
        <i class="fas fa-copyright"></i>
        <span class="text-primary">[[post.post?.category]] &emsp;</span>
        <i class="fas fa-tag"></i>

        <span v-for="(tag, i) in post.post?.tags" :key="i" class="me-1 text-info">[[tag]]
        </span>
        <i class="fas fa-heart"></i>
        <span>10 &emsp;</span>
      </p>
      <hr/>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <!-- Post content-->
        <article>
          <figure class="mb-4"><img class="img-fluid rounded cst-img-300" :src="post.post?.image" alt="..."/></figure>
          <!-- Post content-->
          <section class="mb-5">
            <p class="fs-5 mb-4 cst-content">
              [[post.post?.content]]
            </p>
          </section>
        </article>
        <!-- Comments section-->
        <section class="mb-5">
          <div class="card bg-light">
            <div class="card-body">
              <!-- Comment form-->
              <form class="mb-4">
                <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
              </form>
              <!-- Comment with nested comments-->
              <div class="d-flex mb-4">
                <!-- Parent comment-->
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/></div>
                <div class="ms-3">
                  <div class="fw-bold">Commenter Name</div>
                  <div>2021-01-01</div>
                  If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                  <!-- Child comment 1-->
                </div>
              </div>
              <!-- Single comment-->
              <div class="d-flex">
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."/></div>
                <div class="ms-3">
                  <div class="fw-bold">Commenter Name</div>
                  When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <!-- Categories widget-->
        <div class="card mb-4">
          <div class="card-header">Categories</div>
          <div class="card-body">
            <div class="list-unstyled gap-4 d-flex flex-wrap ">
              <span v-for="(cate, i) in cateList" :key="i" class="text-success my-link">
                [[cate]]
              </span>
            </div>
          </div>
        </div>

        <!-- Tag Cloud-->
        <div class="card mb-4">
          <div class="card-header">Tag Cloud</div>
          <div class="card-body">
            <div class="list-unstyled gap-4 d-flex flex-wrap ">
              <span v-for="(tag, i) in tagList" :key="i" class="text-success my-link">
                [[tag]]
              </span>
            </div>
          </div>
        </div>

        <!-- next prev post-->
        {% include 'post/prev_next_post.html' %}

      </div>
    </div>
  </div>
{% endblock %}
{% block extra-script %}
  <script src="{% static 'vue/postDetail.js' %}"></script>
{% endblock %}